.navbar-brand img {
    width: 200px;
    height: 90px;

}

.navbar-dark .navbar-nav .nav-link  {
    color: coral;
    padding: 30px;
    font-family: "Century Gothic";
}

.dropdown-menu .dropdown-item {
    color:black;
}

body {
    background: navajowhite;
}

h1 {
    padding: 20px;
    text-align: center;
}

.table td {
    color: black;
}

.container {
    padding: 30px;
    margin-left: 50px;
}

