.navbar-brand img {
    width: 200px;
    height: 90px;

}

.navbar-dark .navbar-nav .nav-link  {
    color: coral;
    padding: 30px;
    font-family: "Century Gothic";
}

.dropdown-menu .dropdown-item {
    color:coral;
}

body {
    background: navajowhite;
}

h1 {
    padding: 20px;
    text-align: center;
}

.table td {
    color: orangered;
}

.container {
    padding: 50px;
    margin-left: 150px;
}