.navbar-brand img {
    width: 200px;
    height: 90px;
}

body {
    background-color: navajowhite;
}

.navbar-dark .navbar-nav .nav-link  {
    color: coral;
    padding: 30px;
    font-family: "Century Gothic";
}

.dropdown-menu .dropdown-item {
    color:coral;
}

h1 {
    padding: 20px;
    text-align: center;
}

.container2 {
    margin-left: 40px;
    text-align: left;
    font-family: "Arial";
}

.responsive_img {
    margin-top: 40px;
    margin-left: 40px;
    height: 300px;
    width:400px;
}