
<head>
    <meta charset="UTF-8">
    <title>Semestralna praca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/Prva.css">
    <link rel="stylesheet" href="css/DenneMenu.css">


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="images/mojeLogoUpravene.png"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a class="nav-link" href="Prva.html"> Domov </a></li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"
                   role="button" data-toggle="dropdown"> Ponuka jedál a nápojov </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="DenneMenu.html">Denné menu </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Jedálny lístok</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Nápojový lístok</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="OtvaraciaDoba.html"> Otváracia doba </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown"> Ubytovanie </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Cenník ubytovania </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="Rezervacia.html">Rezervácia</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="Galeria.html"> Galéria </a></li>
            <li class="nav-item"><a class="nav-link" href="Kontakt.html"> Kontakt </a></li>

        </ul>
    </div>
</nav>



<div class="container">
    <div clas="row mt-2">
        <div class="col-8 text-justify ">
            <div class="table-responsive">
                <table class="table table-bordered table-secondary table-striped ">
                    <tbody>
                    <tr>
                        <td rowspan="4">Pondelok</td>
                        <td>Polievka: Fazuľová</td>
                    </tr>
                    <tr>
                        <td>Menu 1: Bravčová krkovička, zemiaky</td>
                    </tr>
                    <tr>
                        <td>Menu 2: Cestoviny na syrovej omáčke</td>
                    </tr>
                    <tr>
                        <td>Menu 3: Palacinky s džemom</td>
                    </tr>
                    </tr>
                    <tr>
                        <td rowspan="4">Utorok</td>
                        <td>Polievka: Slepačí vývar</td>
                    </tr>
                    <tr>
                        <td>Menu 1: Kuracie prsia na zelenine, ryža</td>
                    </tr>
                    <tr>
                        <td>Menu 2: Vyprážaný syr, hranolky</td>
                    </tr>
                    <tr>
                        <td>Menu 3: Parené buchty</td>
                    </tr>
                    </tr>
                    <tr>
                        <td rowspan="4">Streda</td>
                        <td>Polievka: Brokolicová krémová</td>
                    </tr>
                    <tr>
                        <td>Menu 1: Španielsky vtáčik, ryža</td>
                    </tr>
                    <tr>
                        <td>Menu 2: Cestovinový šalát</td>
                    </tr>
                    <tr>
                        <td>Menu 3: Kakaový závin </td>
                    </tr>
                    </tr>
                    <tr>
                        <td rowspan="4">Štvrtok</td>
                        <td>Polievka: Novohradská</td>
                    </tr>
                    <tr>
                        <td>Menu 1: Segedínsky guláš, knedľa</td>
                    </tr>
                    <tr>
                        <td>Menu 2: Špagety bollognese</td>
                    </tr>
                    <tr>
                        <td>Menu 3: Tvarohové buchty</td>
                    </tr>
                    </tr>
                    <tr>
                        <td rowspan="4">Piatok</td>
                        <td>Polievka: Rybacia</td>
                    </tr>
                    <tr>
                        <td>Menu 1: Kuráci gordon blue, zemiaky, ryža</td>
                    </tr>
                    <tr>
                        <td>Menu 2: Rybie filé, zemiaky</td>
                    </tr>
                    <tr>
                        <td>Menu 3: Dukátové buchtičky</td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>