<head>
    <meta charset="UTF-8">
    <title>Semestralna praca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/Prva.css">
    <link rel="stylesheet" href="css/Rezervacia.css">


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <img src="images/mojeLogoUpravene.png"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="Prva.html"> Domov </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3"
                   role="button" data-toggle="dropdown"> Ponuka jedál a nápojov </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="DenneMenu.html">Denné menu </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Jedálny lístok</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Nápojový lístok</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="OtvaraciaDoba.html"> Otváracia doba </a></li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown"> Ubytovanie </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Cenník ubytovania </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="Rezervacia.html">Rezervácia</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="Galeria.html"> Galéria </a></li>
            <li class="nav-item"><a class="nav-link" href="Kontakt.html"> Kontakt </a></li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 m-auto">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-center py-2">Rezervácia</h2>
                    <hr>
                    <div class="card-body">
                        <!--                        <form action="sendReserve.php" method="post"> -->
                        <input type="text" name="UName" placeholder="Krstné meno" class="form-control mb-2">
                        <input type="text" name="UName" placeholder="Priezvisko" class="form-control mb-2">
                        <input type="email" name="Email" placeholder="Email" class="form-control mb-2">
                        <input type="tel" name="Subject" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                               placeholder="Telefónne číslo" class="form-control mb-2">
                        <textarea name="msg" class="form-control mb-2"
                                  placeholder="Poznámka k rezervácii"></textarea>
                        <input type="number" name="UName" max="5" min="1" placeholder="Počet osôb"
                               class="form-control mb-2">
                        <button class="btn btn-success" name="btn-send"> Odoslať rezerváciu</button>
                        <!-- </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Meno</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Meno" class="form-control mb-2" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Priezvisko</label>
            <input type="text" class="form-control" id="validationTooltip02" placeholder="Priezvisko" value="" required>

        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">E-mail</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                </div>
                <input type="email" class="form-control" id="validationTooltipUsername" placeholder="E-mail"
                       aria-describedby="validationTooltipUsernamePrepend" required>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">Mesto</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Mesto" required>
            <div class="invalid-tooltip">

            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip04">Telefónne číslo</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Telefónne číslo" required>
            <div class="invalid-tooltip">

            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip05">PSČ</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="PSČ" required>
            <div class="invalid-tooltip">
            </div>
        </div>

    </div>
    <button class="btn btn-success" type="submit">Odoslať rezerváciu</button>
</form>

-->

</body>
</html>